/*@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";*/

/* RESET */

*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}


/* HEADER */

.header{
  width: 100%;
  min-height: 100px;
  background: #a29996;
  padding: 0 50px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-sticky{
  position: sticky;
  width: 100%;
  min-height: 100px;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  top: 0
}

.logo{
  width: 80px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@-webkit-keyframes logo-buzz{
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes logo-buzz{
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.logo:hover{
  cursor: pointer;
  -webkit-animation-name: logo-buzz;
  animation-name: logo-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


.menu-items{
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.menu-link{
  text-decoration: none;
  padding: 0 10px;
  color: black;
}

.show-menu, 
.hide-menu{
  font-size: 30px;
  cursor: pointer;
  padding: 0 10px;
  display: none;
}

.show-menu{
  order: 1;
}

.menu-link:hover, 
.show-menu:hover, 
.hide-menu:hover{
  color: #a6c1c0;
}

#check{
  display: none;
}

/* BANNER */

#banner{
  padding: 0 50px;
  background-image: url(/assets/images/banner_4.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center;
  opacity: 85%;
}

.banner-container{
  text-transform: uppercase;
}

.banner-container{
  position: relative;
  color: black;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-container h3{
  font-size: 50px;
  font-weight: 600;
  padding: 10px 0;
}

.banner-container h2::before{
  content: "";
  animation: blink 0.8s steps(2) infinite;
}

.banner-container h2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  font-weight: 800;
  border-right: 4px solid;
  width: 22ch;
  white-space: nowrap;
  animation: typing 4s steps(22) infinite;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
}

@keyframes typing{
  0% , 90%, 100%{ 
    width: 0
  }
  30%, 60%{
    width: 289.89px;
  }
}

@keyframes blink{
 50% { border-color: transparent}
}

.about-me-button{
  text-decoration: none;
  text-transform: uppercase;
  border: 4px solid #a29996;
  border-radius: 5px;
  color: black;
  align-self: baseline;
  margin-top: 20px;
  transition: all 0.8s;
  display: inline-flex;
  height: 50px;
  padding: 0px;
  overflow: hidden;
  cursor: pointer;
}

.button-text, .button-icon{
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  padding: 0px 10px;
  height: 100%;
}

.button-icon{
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.08);
}

.download-icon{
  vertical-align: middle;
}

.about-me-button:hover{
  cursor: pointer;
  border: 4px solid black;
}

/* AVATAR */

#avatar{
  padding: 20px 20px ;
  background: #d1dede;
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
  gap: 2em;
  scroll-margin-top: 100px;
}

#avatar img{
  width: 250px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.9)
}

#avatar p{
  font-size: 15px;
}

/* SKILLS */

#skills{
  background: #a6c1c0;
  padding: 10px 0;
  scroll-margin-top: 100px;
}

.skills-title{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.icons-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  row-gap: 2em;
}

.icon{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.icon:hover, .icon:focus{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* PROJECTS */

#projects{
  padding: 10px 30px;
  background: #d1dede;
  scroll-margin-top: 100px;
}

.project-title{
  text-align: center;
  text-transform: uppercase;
}

.projects-container{
  margin-top: 10px;
  display: flex;
  /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: 1.5em;
}

.project-image{
  width: 250px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4)
}

.code-button, .demo-button{
  padding: 2px 8px;
  margin: 10px 0;
  background-color: inherit;
  border: none;
}

.code-button:hover, .demo-button:hover{
  cursor: pointer;
}


/* CONTACT */

#contact{
  background: #a6c1c0;
  padding: 10px 0px;
  scroll-margin-top: 100px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

.buttons-container{
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 0px;
  overflow: hidden;
  cursor: pointer;
  gap: 1em
}

.contact-button{
  display: flex;
  border-radius: 5px;
  border: 4px solid #a29996;
  margin-right: 10px;
  transition: all .8s
}

.contact-button:hover{
  cursor: pointer;
  border: 4px solid black;
}

/* RESPONSIVE */

@media(max-width: 768px){
  .show-menu, .hide-menu{
    display: block;
  }

  .menu{
    position: fixed;
    background: #a29996;
    width: 100%;
    height: 100vh;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.9s;
  }

  .menu-items {
    display: block;
  }

  li{
    padding: 20px;
  }

  .hide-menu{
    position: absolute;
    top: 40px;
    right: 40px;
  }
}