/*@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";*/

/* RESET */

*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

/* HEADER */

header{
  height: 100px;
  background: #91746b;
  padding: 0 50px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 80px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@-webkit-keyframes logo-buzz{
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes logo-buzz{
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.logo:hover{
  cursor: pointer;
  -webkit-animation-name: logo-buzz;
  animation-name: logo-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


.menu-items{
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.menu-link{
  text-decoration: none;
  padding: 0 10px;
  color: black;
  transition: 0.4s;
}

.show-menu, 
.hide-menu{
  font-size: 30px;
  cursor: pointer;
  padding: 0 10px;
  display: none;
  transition: 0.4s;
}

.show-menu{
  order: 1;
}

.menu-link:hover, 
.show-menu:hover, 
.hide-menu:hover{
  color: #a6c1c0;
}

#check{
  display: none;
}

/* BANNER */

#banner{
  padding: 0 50px;
  background-image: url(../assets/images/banner_4.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center;
  opacity: 85%;
}

.banner-container{
  text-transform: uppercase;
}

.banner-container{
  position: relative;
  color: black;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-container h3{
  font-size: 50px;
  font-weight: 600;
  padding: 10px 0;
}

.banner-container h2{
  font-size: 25px;
  font-weight: 200;
  border-right: 4px solid;
  width: 20ch;
  white-space: nowrap;
  animation: typing 2s steps(20), blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing{
from { width: 0}
}

@keyframes blink{
 50% { border-color: transparent}
}

.about-me-button{
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 1%;
  color: black;
  padding: 15px 10px;
  margin-right: 0px;
  align-self: baseline;
  margin-top: 20px;
  transition: all 0.8s;
}

.download-icon{
  vertical-align: middle;
}

.about-me-button:hover{
  cursor: pointer;
  background: #a6c1c0;
}

/* AVATAR */

#avatar{
  padding: 20px 20px ;
  background: #d1dede;
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
  gap: 2em;
  transition: 0.4s

}

#avatar img{
  width: 250px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.9)
}

#avatar p{
  font-size: 15px;
}

/* SKILLS */

#skills{
  background: #fffafb;
  padding: 10px 0;
}

.skills-title{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.icons-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  row-gap: 2em;
}

.icon{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.icon:hover, .icon:focus{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* PROJECTS */

#projects{
  padding: 10px 30px;
  background: #634b66;
}

.project-title{
  text-align: center;
  text-transform: uppercase;
}

.projects-container{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
}

.project-image{
  width: 250px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4)
}

.code-button, .demo-button{
  padding: 2px 8px;
  margin: 10px 0;
  background-color: #634b66;
  border: none;
}



/* CONTACT */

#contact{
  background: #bfa992;
  padding: 10px 0px
}

.form{
  background-color: #fffafb;
  width: 90%;
  margin: auto;
  max-width: 400px;
  border-radius: 1em;
}

.form-container{
  width: 100%;
  display: grid;
  gap: 2.5em;
  grid-auto-columns: 100%;
  padding: 10px 10px;
}

.form-title {
  text-align: center;
  text-transform: uppercase;
}

.form-input{
  padding: 10px 5px;
  outline: none;
  border: 2px solid #bfa992;
  border-radius: 2%;
}

.form-input--message{
  resize: none;
  padding: 10px 5px;
}

.form-button{
  padding: 2px 0;
  font-weight: 700;
}

input[type=submit]{
  text-transform: uppercase;
  background: #fffafb;
  border: 2px solid #bfa992;
  border-radius: 2%;
}

input[type=submit]:hover{
  background: #bfa992;
}


/* RESPONSIVE */

@media(max-width: 768px){
  .show-menu, .hide-menu{
    display: block;
  }

  .menu{
    position: fixed;
    background: #91746b;
    width: 100%;
    height: 100vh;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.9s;
  }

  .menu-items {
    display: block;
  }

  li{
    padding: 20px;
  }

  .hide-menu{
    position: absolute;
    top: 40px;
    right: 40px;
  }
}